@media (min-width: 768px) {
  .button {
    padding: 0.25em 0.75em;
  }
}

.button {
  /* height: 25px; */
  border: none;
  outline: none;
  font-family: 'Space Mono', sans-serif;
  font-weight: 700;
  font-size: 0.7rem;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 3px;
}

.button:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  border-radius: 3px;
}

.button:active {
  color: white;
}

.button:active:after {
  background: transparent;
}

.button:hover:before {
  opacity: 1;
}

.button:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--palette_buttonBg);
  left: 0;
  top: 0;
  border-radius: 3px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.outlineButton {
  cursor: pointer;
  background: transparent;
  color: white;
  font-family: 'Space Mono', sans-serif;
  font-weight: 700;
  font-size: 0.7rem;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
  border: 1px solid white;
}
