.animation[data-animation='start'] {
  animation: 2s 1 alternate start;
}

.animation[data-animation='end'] {
  animation: 2s 1 alternate end;
}

@keyframes start {
  from {
    position: relative;
    left: -1000px;
  }
  to {
    position: relative;
    left: 0px;
  }
}

@keyframes end {
  from {
    position: relative;
    left: 0px;
  }
  to {
    position: relative;
    left: -1000px;
  }
}
